@page "/"

<h1>Miterbeitendenübersicht, Team[X]</h1>

Hier wird in kürze das Softwareprojekt entstehen.

In der Zwischenzeit können die Nutzer:innen gerne die
Wettervorhersage
<a target="_blank" class="font-weight-bold" href="https://www.wetter.com/deutschland/augsburg/DE0000434.html">hier</a>
ansehen.
